<% include ../includes/header.ejs %>
<% include ../includes/layout.ejs %>
<h1>Manage Users</h1>
<p>This page allows you to manage users</p>
<div class="form-group form-group-sm">
  <label for="user_list" class="col-sm-1 control-label">File(s)</label>
  <div class="col-sm-10">
    <select name="audio_file" id="user_list" class="form-control" multiple="multiple">
      <% bellboy.modules["bellauth"].GetUsers().forEach(function(item) { %>
        <option value="<%= item.Username %>">
          <%= item.Name %>
        </option>
        <% }) %>
    </select>
  </div>
</div>
<% include ../includes/footer.ejs %>
