<% include includes/header.ejs %>
<% include includes/layout.ejs %>
<h1>About <%= locals.bellboy.config.AppName %></h1>
<p><%= locals.bellboy.config.AppName %> is a system designed to allow periodic and automatic ringing of bell systems. It's mostly intended for schools or factories, but can easily be adapted to suit other purposes</p>
<p>This software was written by <a href="http://davidgray.photography">David "Grayda" Gray</a> and is released as open-source software. Check out the project on <a href="http://github.com/Grayda/bellboy"><img src="../images/GitHub_Logo.png" /></a> for more information. Pull requests and bug reports are welcomed</p>
<% include includes/footer.ejs %>
