<% include includes/header.ejs %>
  <% include includes/layout.ejs %>
    <script type="text/javascript">
      function setVolume(volume) {
        socket.emit("setvolume", volume)
      }
      $(document).on("ready", function() {
        $("#volume").on("change", function() {
          $("#currentvolume").html($("#volume").val() + "%")
        })

        $("#reload").on("click", function() {
          socket.emit("reload")
        })

        // $("#settime").on("click", function() {
        //   socket.emit("settime", { date: moment() })
        // })

      })
    </script>

    <h1>Configuration</h1>
    <div class="row">
      <div class="form-group form-group-sm">
        <label for="logs" class="col-sm-1 control-label">Logs</label>
        <div class="col-sm-2">
          <a href="logs.ejs" id="logs" class="btn btn-default"><i class="glyphicon glyphicon-book"></i> View Logs</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group form-group-sm">
        <label for="volume" class="col-sm-1 control-label">Volume</label>
        <div class="col-sm-2">
          <input id="volume" type="range" max="100" min="0" value="<%= bellboy.modules['bellaudio'].GetVolume() %>" />
          <p id="currentvolume">
            <%= bellboy.modules["bellaudio"].GetVolume() %>%</p>
        </div>
        <div class="col-sm-2">
          <a href="javascript:setVolume($('#volume').val())" class="btn btn-default">Save</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group form-group-sm">
        <label for="reload" class="col-sm-1 control-label">Reload Settings</label>
        <div class="col-sm-2">
          <button id="reload" class="btn btn-default">Reload</button>
          <p class="help-text">Reloads bells and settings</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group form-group-sm">
        <label for="update" class="col-sm-1 control-label">Update <%= bellboy.config.AppName %></label>
        <div class="col-sm-2">
          <a href="update.ejs" id="update" class="btn btn-default"><i class="glyphicon glyphicon-cloud-download"></i> Update..</a>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="form-group form-group-sm">
        <label for="settime" class="col-sm-1 control-label">Set Date Manually</label>
        <div class="col-sm-2">
          <button id="settime" class="btn btn-default">Sync time with this computer</button>
          <p class="help-text">Only do this if your network doesn't use NTP</p>
        </div>
      </div>
    </div> -->
    <% include includes/footer.ejs %>
