<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.less' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="/images/logo.png">
    <p>Welcome to <%= locals.bellboy.config.WebTheme.Base[0] %></p>
  </body>
</html>
