<% include includes/header.ejs %>
<script type="text/javascript">
  socket.on("reloadstatus", function() {
    location.reload()
  })
</script>
  <% include includes/modal.ejs %>
    <div class="statusscreen smallscreen">
      <table class="table table-condensed smallscreen" style="max-height: 100vh">
        <tr>
          <th colspan="4">
            <%= locals.bellboy.config.AppName %>
          </th>
        </tr>
          <tr>
            <td colspan="4" id="time"></td>
          </tr>
        <% if(locals.bellboy.bells["_all"].Enabled == false) { %>
          <tr>
            <td colspan="4" class="alert alert-danger"><i class="glyphicon glyphicon-remove-sign"></i> All bells are disabled. They were disabled on
              <%= Date %>
            </td>
          </tr>
          <tr>
            <td colspan="4"><a href="javascript:toggleBell('_all', true)">Click here to enable them again</a></td>
          </tr>
          <% } else { %>
            <tr>
              <td colspan="4" id="nextbell"></td>
            </tr>
            <tr>
              <td colspan="4"><i class="glyphicon glyphicon-calendar"></i> Schedule: <%= bellboy.bells["_name"] %></td>
            </tr>
            <tr>
              <td colspan="4"><i class="glyphicon glyphicon-globe"></i> Manage these bells: <a href="/">http://<%= bellboy.modules["bellweb"].GetHostName(true) %>:8080</a></td>
            </tr>
            <% } %>
        <tr>
          <td class="button button1 "><a href="javascript:pressButton(1)"><i class="glyphicon glyphicon-bell"></i><br />Ring now</a></td>
          <td class="button button2 "><i class="glyphicon glyphicon-ban-circle"></i><br />Disabled</td>
          <td class="button button3 "><i class="glyphicon glyphicon-ban-circle"></i><br />Disabled</td>
          <td class="button button4 ">
            <% if(locals.bellboy.bells["_all"].Enabled == false) { %><a href="javascript:toggleBell('_all', true)"><i class="glyphicon glyphicon-off"></i><br />Enable ALL</a>
              <% } else { %><a href="javascript:toggleBell('_all', false)"><i class="glyphicon glyphicon-off"></i><br />Disable ALL</a>
                <% } %>
          </td>
        </tr>
      </table>
    </div>

<% include includes/footer %>
