<% include includes/header.ejs %>
<% include includes/layout.ejs %>

<script type="text/javascript">
  $(document).on("ready", function() {

    $.get("http://github-raw-cors-proxy.herokuapp.com/Grayda/bellboy/blob/master/CHANGELOG.md", function(data) {
      $("#releasenotes").html(data.replace(/\n/g, "<br />"))
    })
    $("#update").on("click", function() {
      socket.emit("update")
    })
  })
</script>

<h1>Update <%= bellboy.config.AppName %></h1>
<p>To update <%= bellboy.config.AppName %>, click the button below</p>
<p><b>Please note that this may overwrite your bells. Please review the readme before continuing</b></p>
<br />
<h2>Release Notes</h2>
<p id="releasenotes" class="well"></p>
<div class="row">
  <div class="form-group form-group-sm">
    <div class="col-sm-2">
      <button id="update" class="btn btn-mlg btn-danger">Confirm Update</button>
    </div>
  </div>
</div>

<% include includes/footer.ejs %>
