<div id="schedule_toggle_group" class="well well-lg">
  <h4>Switch Schedule</h4>
  <p>Allows a bell to switch to a different schedule file</p>
  <div class="form-group form-group-sm">
    <label for="schedule_file" class="col-sm-1 control-label">Switch To</label>
    <div class="col-sm-10">
      <select name="schedule_file" id="schedule_file" class="form-control">
        <% bellboy.ViewFiles().forEach(function(item){ %>
          <option <% if(locals.getVals(['Actions', 'Schedule', 'File']) == item) { %>selected="selected"<% } %> value="<% item %>">
            <%= item %>
          </option>
          <% }) %>
      </select>
      <p class="help-block">If you wish to toggle schedules (e.g. have 1 bell switch to a week 2 schedule, then another back to week 1), please ensure both schedules point to each other</p>
    </div>
  </div>

</div>
