<div id="toggle_toggle_group" class="well well-lg">
  <h4>Toggle bells</h4>
  <p>Allows you to enable / disable bell(s) via another bell</p>
  <div class="form-group form-group-sm">
    <label for="toggle_bell" class="col-sm-1 control-label">File(s)</label>
    <div class="col-sm-10">
      <select name="toggle_bell" id="toggle_bell" class="form-control" multiple="multiple" size="10">
        <% Object.keys(bellboy.bells).forEach(function(item){ %>
          <% if(item.indexOf("_") == 0 && item !== "_all") { return } %>
          <option value="<%= item %>" <% if(locals.validator.GetValue(bellboy.bells[req.query.bell], ["Actions","ToggleBells","Bells"], "").indexOf(item) > -1) { %>selected="selected"<% } %>>
            <%= bellboy.bells[item].Name %>
          </option>
          <% }) %>
      </select>
      <p class="help-block">This feature is still in beta. If a bell is enabled, it will be disabled, and vice versa. Support for specifying a state will come soon</p>
    </div>
  </div>
</div>
