<a href="/">
  <img class="logo" src="../images/logo.png">
</a>
<!-- Keep away from prying eyes -->

<ul class="sidebar-nav">
<% if(locals.isAuthenticated == true) { %>
  <li>Bell Management</li>
  <li>
    <a href="/"><i class="glyphicon glyphicon-search"></i> View All Bells</a>
  </li>
  <li>
    <a href="/add"><i class="glyphicon glyphicon-plus"></i> Add / Edit Bells</a>
  </li>
  <li>
    <a href="schedule.ejs"><i class="glyphicon glyphicon-calendar"></i> Change Schedule</a>
  </li>
  <li>
    <a href="status.ejs"><i class="glyphicon glyphicon-dashboard"></i> Status Page</a>
  </li>
  <li>Settings</li>
  <li>
    <a href="/users/index.ejs"><i class="glyphicon glyphicon-user"></i> Manage Users</a>
  </li>
  <li>
    <a href="config.ejs"><i class="glyphicon glyphicon-cog"></i> Configuration</a>
  </li>
  <li>
    <% if(locals.bellboy.bells["_all"].Enabled == true) { %>
      <a href="javascript:toggleBell('_all', false)"><i class="glyphicon glyphicon-remove"></i> Disable All Bells</a>
    <% } else { %>
      <a href="javascript:toggleBell('_all', true)"><i class="glyphicon glyphicon-ok"></i> Enable All Bells</a>
    <% } %>
  </li>
  <% } else { %>
    <li>Login</li>
    <li><a href="/login"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
  <% } %>
  <li>Help</li>
  <li><a href="/help"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
  <li><a href="about.ejs"><i class="glyphicon glyphicon-info-sign"></i> About</a></li>
</ul>
