<% include includes/header.html %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#triggermailgroup").hide();
      $("#changemailgroup").hide();

      $("select").on("change", function() {
        var tmg = ($("#triggermailenabled").find("option:selected").val() === "true");
        var cmg = ($("#changemailenabled").find("option:selected").val() === "true");

        $("#triggermailgroup").toggle(tmg);
        $("#changemailgroup").toggle(cmg);
      });
    });
  </script>

  <h1>Add New Bell</h1>
  <form method="post" class="form-horizontal">
    <div class="form-group form-group-sm">
      <label for="id" class="col-sm-1 control-label">ID for bell</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="id" placeholder="period1">
        <p class="help-block">Lowercase, alphanumeric only</p>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label for="name" class="col-sm-1 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" placeholder="Bell for first period">
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label for="description" class="col-sm-1 control-label">Description</label>
      <div class="col-sm-10">
        <textarea name="description" class="form-control" placeholder="This bell rings at the start of period 1"></textarea <p class="help-block">The description should be 1-2 sentences maximum</p>
      </div>
    </div>
    <!-- <div class="form-group form-group-sm">
      <label for="locked" class="col-sm-1 control-label">Locked:</label>
      <div class="col-sm-10">
        <input type="checkbox" class="">
        <p class="help-block">If locked, a job can't be edited from the web UI</p>
      </div>
    </div> -->
    <div class="form-group form-group-sm">
      <label for="time" class="col-sm-1 control-label">Time</label>
      <div class="col-sm-10">
        <input type="text" name="time" class="form-control" placeholder="15 9 * * *">
        <p class="help-block">The time to run, in <a href="https://en.wikipedia.org/wiki/Cron#Configuration_file">cron format</a>. You can generate cron expressions <a href="http://www.cronmaker.com/">here</a></p>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label for="files" class="col-sm-1 control-label">File(s)</label>
      <div class="col-sm-10">
        <select name="files" class="form-control" multiple>
          <% bellboy.modules["bellaudio"].ViewFiles().forEach(function(item){ %>
            <option>
              <%= item %>
            </option>
            <% }) %>
        </select>
        <p class="help-block">To add more audio files, upload them to /addons/bellaudio/audio</p>
      </div>
    </div>

    <!-- Now, on to the email stuff! -->

    <div class="form-group form-group-sm" id="triggergroup">
      <label for="triggermailenabled" class="col-sm-1 control-label">Email on trigger</label>
      <div class="col-sm-10">
        <select id="triggermailenabled" name="triggermailenabled" class="form-control">
          <option value="false">Disabled</option>
          <option value="true">Enabled</option>
        </select>
        <p class="help-block">If enabled, an email will be sent every time this bell is triggered</p>
      </div>
    </div>

    <div id="triggermailgroup" class="well">
      <div class="form-group form-group-sm">
        <label for="triggermailto" class="col-sm-1 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="triggermailto" placeholder="you@example.com">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label for="triggermailsubject" class="col-sm-1 control-label">Subject</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="triggermailsubject" placeholder="Bell triggered!">
        </div>
      </div>

      <div class="form-group form-group-sm">
        <label for="triggermailtemplate" class="col-sm-1 control-label">File(s)</label>
        <div class="col-sm-10">
          <select name="triggermailtemplate" class="form-control">
            <% bellboy.modules["bellmail"].ViewFiles().forEach(function(item){ %>
              <option>
                <%= item %>
              </option>
              <% }) %>
          </select>
          <p class="help-block">To add more templates files, upload them to /addons/bellmail/templates</p>
        </div>
      </div>
    </div>

    <div class="form-group form-group-sm" id="changegroup">
      <label for="changemailenabled" class="col-sm-1 control-label">Email on change</label>
      <div class="col-sm-10">
        <select id="changemailenabled" name="changemailenabled" class="form-control">
          <option value="false">Disabled</option>
          <option value="true">Enabled</option>
        </select>
        <p class="help-block">If enabled, an email will be sent every time this bell is edited, enabled / disabled or deleted</p>
      </div>
    </div>

    <div id="changemailgroup" class="well">
    <div class="form-group form-group-sm">
      <label for="changemailto" class="col-sm-1 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="changemailto" placeholder="you@example.com">
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label for="changemailsubject" class="col-sm-1 control-label">Subject</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="changemailsubject" placeholder="Bell changeed!">
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label for="changemailtemplate" class="col-sm-1 control-label">File(s)</label>
      <div class="col-sm-10">
        <select name="changemailtemplate" class="form-control">
          <% bellboy.modules["bellmail"].ViewFiles().forEach(function(item){ %>
            <option>
              <%= item %>
            </option>
            <% }) %>
        </select>
        <p class="help-block">To add more templates files, upload them to /addons/bellmail/templates</p>
      </div>
    </div>
  </div>
    <p>Email settings coming soon. If you wish to set up email, please edit bells.json manually</p>
    <button type="submit" name="submit" class="btn btn-default">Submit</button>

  </form>
  <% include includes/footer.html %>
