<% include includes/header.html %>
<script type="text/javascript">
  function setVolume(volume) {
    alert(volume)
    socket.emit("setvolume", volume)
  }
</script>

<h1>Configuration</h1>
<p>Current volume is: <%= bellboy.modules["bellaudio"].GetVolume() %>%</p>
<div class="form-group form-group-sm">
  <label for="volume" class="col-sm-1 control-label">Volume</label>
  <div class="col-sm-2">
    <input id="volume" type="range" max="100" min="0" value="<%= bellboy.modules['bellpi'].GetVolume() %>" />
    <p class="help-block">0-100%</p>
  </div>
  <div class="col-sm-2">
    <a href="javascript:setVolume($('#volume').val())">Save</a>
  </div>
</div>
<% include includes/footer.html %>
