<% if(bellboy.bells["_all"].Enabled == true) { %>
  <h1>Currently loaded bells</h1>
  <table border=1 cellpadding=10 cellspacing=0 class="list table table-bordered table-hover">
    <tr cellpadding="5" class="colour">
      <th>&nbsp;</th>
      <!-- <th><a title="The unique ID of this bell">ID</a></th> -->
      <th>
        <abbr title="Short name for this bell">Name</abbr>
      </th>
      <th>
        <abbr title="A description of this bell">Description</abbr>
      </th>
      <th>
        <abbr title="When this bell will next ring">Next Run Time</abbr>
      </th>
      <th>
        <abbr title="The sound(s) to play when it rings">Sound</abbr>
      </th>
      <th>
        <abbr title="Will this send an email when triggered / changed?">Email</abbr>
      </th>
      <th>
        <abbr title="Is this bell locked from the web UI (to prevent unauthorized changes)?">Locked</a>
      </th>
      <th>Actions</th>
    </tr>
    <!-- Loop through each bell -->
    <% Object.keys(bellboy.bells).forEach(function(item){ %>
      <!-- If the bell is the fake "all" bell, skip it -->
      <% if(item.substring(0,1) == "_") { return } %>

        <% if (bellboy.bells[bellboy.config.Schedule][item].Enabled === false) { %>
          <tr class="inactivebell">
        <% } else { %>
          <tr class="activebell">
        <% } %>
        <% if (bellboy.modules["bellparser"].GetNextJob()["time"] == bellboy.bells[bellboy.config.Schedule][item].Time) { %>
          <td class="nextbell"><i class="glyphicon glyphicon-chevron-right"></i> <abbr title="This bell will play next">NEXT</abbr></td>
          <% } else { %>
            <td>&nbsp;</td>
            <% } %>
              <!-- <td><%= item %></td> -->
              <td>
                <%= bellboy.bells[bellboy.config.Schedule][item].Name %>
              </td>
              <td>
                <%= bellboy.bells[bellboy.config.Schedule][item].Description %>
              </td>
              <td>
                <a href="#" title="<%= bellboy.bells[bellboy.config.Schedule][item].Time %>">
                  <%= bellboy.modules["bellparser"].CronToDate(item)["calendar"] %>
                </a>
              </td>
              <td>
                <%= bellboy.bells[bellboy.config.Schedule][item].File %>
              </td>
              <td>
                <% if(bellboy.bells[bellboy.config.Schedule][item].Mail.Trigger.Enabled == true) { %>
                  <abbr title="An email will send when this bell rings">Trigger</abbr>
                <% } else { %>
                  <abbr title="NO email will be sent when this bell rings">-</abbr>
                <% } %> /
                <% if(bellboy.bells[bellboy.config.Schedule][item].Mail.Change.Enabled == true) { %>
                  <abbr title="An email will send when this bell is changed">Change</abbr>
                <% } else { %>
                  <abbr title="NO email will be sent when this bell is edited">-</abbr>
                <% } %>
              </td>
              <td>
                <%= bellboy.bells[bellboy.config.Schedule][item].Locked %>
              </td>
              <td>
                <a href="javascript:toggleBell('<%= item %>', <% if (bellboy.bells[bellboy.config.Schedule][item].Enabled === false) { %>true<% } else { %>false<% } %>)">
                  <% if (bellboy.bells[bellboy.config.Schedule][item].Enabled === false) { %>Enable
                    <% } else { %>Disable
                      <% } %>
                </a> |
                <a href="javascript:trigger('<%= item %>')">Trigger</a>
              </td>
    </tr>
    <% }); %>
  </table>

  <table border="1" cellpadding="10" cellspacing="0"  class="list table table-condensed">
    <tr>
      <th colspan="3">Legend</th>
    </tr>
    <tr>
      <td class="activebell">Bell is enabled</td>
      <td class="inactivebell">Bell is disabled</td>
      <td class="nextbell"><i class='glyphicon glyphicon-chevron-right'></i> This bell will ring next</td>
    </tr>
  </table>
  <% } else { %>
    <h2>All bells are currently disabled. <a href="javascript:toggleBell('_all', true)">Click here to enable them again</a></h2>
    <% } %>
