<% include ../includes/header.ejs %>
<% include ../includes/layout.ejs %>
<div class="pull-right"><% include toc.ejs %></div>
<h1>About <%= bellboy.config.AppName %></h1>
<p><%= bellboy.config.AppName %> is a modular system that is designed to run on a Raspberry Pi or PC, and perform tasks at specified times, such as playing audio, ringing a bell or sending emails.<br />It is designed to replace existing school bell systems, allowing users to schedule, trigger and manage bells in a straightforward and hassle-free way.</p>
<p><%= bellboy.config.AppName %> was designed by <a href="http://davidgray.photography">David "Grayda" Gray</a> for use at the school he is currently employed at. If you have questions regarding this sytem, please see your system administrator first, and if they're unable to resolve your issue, please contact David via <a href="http://github.com/Grayda">GitHub</a></p>
<% include ../includes/footer.ejs %>
