<% include ../includes/header.ejs %>
<% include ../includes/layout.ejs %>
<h1><%= bellboy.config.AppName %> Help</h1>
<div class="alert alert-danger">Note: <%= bellboy.config.AppName %> is still in beta. Not all functions will work, and settings may require manual editing of files</div>
<p>Welcome to the <%= bellboy.config.AppName %> Help pages. These pages will help you set up and maintain <%= bellboy.config.AppName %>. To learn more about this system, please pick a topic on the right.</p>
<p>If you have further questions about this sytem, please contact your system administrator</p>
<h3>Table of contents</h3>
<h4><% include toc.ejs %></h4>
<% include ../includes/footer.ejs %>
