<h3>Table of Contents</h3>
<ul class="nav nav-pills nav-stacked">
  <li><a href="/help">Home</a></li>
  <li><a href="/help/about.ejs">About</a></li>
  <li><a href="/help/setup.ejs">Setup</a></li>
  <li><a href="/help/faq.ejs">FAQ</a></li>
</ul>
