</h3>
</td>
</tr>
<tr>
  <td></td>
  <td>
    <a href="<%= bellboy.modules["bellweb"].GetServerURL() %>">Manage the bells</a> | <a href="<%= bellboy.modules["bellweb"].GetServerURL() %>/about.ejs">About this system</a>
    <p>
      <small>This was an automated email sent by
        <%= bellboy.config.AppName %>. For more information, please contact your system administrator</small>
    </p>
  </td>
</tr>
</table>

</body>

</html>
