<html>

<head>
  <style type="text/css">
    body,
    html {
      font-family: Arial;
      margin: 0;
      padding: 0;
    }

    .header {
      width: 100%;
      height: 25px;
      color: white;
      vertical-align: middle;
      background: #885880;
      text-align: left;
      margin-bottom: 40px;
    }

    .left {
      text-align: left;
    }
  </style>
</head>

<body>
  <table width="100%" cellspacing="0" cellpadding="30">
    <tr class="header left">
      <th></th>
      <th>
        <h1 class="left">
          <%= bellboy.config.AppName %>
        </h1>
      </th>
    </tr>
    <tr>
      <td width="10%">
        <img src="<%= AttachFile('logo.png') %>">
      </td>
      <td valign="top" class="left">
        <h3>
