<!doctype html>
<html lang="en" ng-app="bellboyApp">

<head>
  <meta charset="utf-8">
  <title>Bellboy Timer System</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <script type="text/javascript" src="jquery/dist/jquery.js"></script>
  <script src="angular/angular.js"></script>
  <script src="angular-route/angular-route.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
