<!doctype html>
<html lang="en" ng-app="bellboyApp">

<head>
  <meta charset="utf-8">
  <title>Bellboy Timer System</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="AngularJS-Toaster/toaster.min.css">
  <script type="text/javascript" src="jquery/dist/jquery.js"></script>
  <script src="angular/angular.js"></script>
  <script src="angular-route/angular-route.js"></script>
  <script src="AngularJS-Toaster/toaster.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="tv4/tv4.js"></script>
  <script type="text/javascript" src="objectpath/lib/ObjectPath.js"></script>
  <script type="text/javascript" src="angular-schema-form/dist/schema-form.min.js"></script>
  <script type="text/javascript" src="angular-schema-form/dist/bootstrap-decorator.min.js"></script>
</head>

<body>
  <toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-bottom-right'}"></toaster-container>
