<% include includes/header.ejs %>
<% include includes/layout.ejs %>
  <script type="text/javascript" src="javascripts/app.js"></script>
  <script src="javascripts/list.js"></script>
  <script src="javascripts/edit.js"></script>
  <div ng-view></div>
<% include includes/footer.ejs %>
