<% include includes/header.ejs %>
  <script type="text/javascript" src="javascripts/app.js"></script>
  <script src="javascripts/status.js"></script>
  <div ng-view></div>
<% include includes/footer.ejs %>
