<% include includes/header.html %>
<h1>Add a new bell</h1>
<table border=0 cellpadding=5 cellspacing=0>
  <tr><td><label for="id">ID: </label></td><td><input type="text" id="id"></td></tr>
  <tr><td><label for="name">Name: </label></td><td><input type="text" id="name"></td></tr>
  <tr><td><label for="time">Time: </label></td><td><input type="text" id="time"></td></tr>
  <tr><td><label for="filename">Filename: </label></td><td><input type="text" id="filename"></td></tr>
  </tr>
</table>

<% include includes/footer.html %>
