<!-- Homepage. Shows a list of bells and gives us the option to enable or disable bells -->
<% include includes/header.html %>
      <h1>Currently loaded bells</h1>
      <% if(items["_all"].Enabled == true) { %>
      <table border=1 cellpadding=10 cellspacing=0 class="list">
        <tr cellpadding="5" class="colour">
          <th>&nbsp;</th>
          <!-- <th><a title="The unique ID of this bell">ID</a></th> -->
          <th><a title="Short name for this bell">Name</a></th>
          <th><a title="A description of this bell">Description</a></th>
          <th><a title="When this bell will next ring">Next Run Time</a></th>
          <th><a title="The sound(s) to play when it rings">Sound</a></th>
          <th><a title="Will this send an email when triggered?">Email</a></th>
          <th><a title="Is this bell locked from the web UI (to prevent unauthorized changes)?">Locked</a></th>
          <th>Actions</th>
        </tr>
        <% Object.keys(items).forEach(function(item){ %>
          <% if(item === "_all") { return } %>
          <% if (items[item].Enabled === false) { %><tr class="inactive"><% } else { %><tr class="active"><% } %>
            <% if (nextJob["time"] == items[item].Time) { %><td class="next"><i class="fa fa-chevron-right"></i> <a title="This bell will play next">NEXT</a></td><% } else { %><td>&nbsp;</td><% } %>
            <!-- <td><%= item %></td> -->
            <td><%= items[item].Name %></td>
            <td><%= items[item].Description %></td>
            <td><a href="#" title="<%= items[item].Time %>"><%= cron(items[item].Time)["calendar"] %></a></td>
            <td><%= items[item].File %></td>
            <td><%= items[item].TriggerEmail.Enabled %></td>
            <td><%= items[item].Locked %></td>
            <td><a href="toggle.html?id=<%= item %>&state=<% if (items[item].Enabled === false) { %>true<% } else { %>false<% } %>"><% if (items[item].Enabled === false) { %>Enable<% } else { %>Disable<% } %></a></td>
          </tr>
        <% }); %>
      </table>
      <% } else { %>
        <h1>All bells are currently disabled. <a href="toggle.html?id=_all&state=true">Click here to enable them again</a></h1>
      <% } %>
<% include includes/footer.html %>
