<% include includes/header.html %>
<h1>Currently loaded bells</h1>
<table border=1 cellpadding=10 cellspacing=0 class="list">
  <tr cellpadding="5" class="colour">
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Time</th>
    <th>File</th>
    <th>Email</th>
    <th>Enabled</th>
    <th>Actions</th>
  </tr>
  <% items.forEach(function(item){ %>
    <tr>
      <td><%= item.ID %></td>
      <td><%= item.Name %></td>
      <td><%= item.Description %></td>
      <td><a href="http://cronchecker.net/check?statement=<%= item.Time %> The Bell" title="Click here to read this in plain english" target="_blank"><%= item.Time %></a></td>
      <td><%= item.File %></td>
      <td><%= item.Email.Enabled %></td>
      <td><%= item.Enabled %></td>
      <td><a href="toggle.html?id=<%= item.ID %>&state=<% if (item.Enabled == 'false') { %>true<% } else { %>false<% } %>"> <% if (item.Enabled == "false") { %>Enable<% } else if (item.Enabled == "false") { %>Disable<% } %></a> | <a href="edit.html?id=<%= item.ID %>">Edit</a></td>
    </tr>
  <% }); %>
</table>
<br />
<a href="add.html">Add a new bell</a>
<% include includes/footer.html %>
